/* blog CSS */
.void-grid{
	word-break: break-word;
	.entry-header{
		text-align: center;
		margin-bottom: 30px;
		position: relative;
		img{
			margin: auto auto; 
		}	
	}
	.entry-title{
		display: inline;
	}
	.post-img{
		margin-bottom: 30px;
	}
	.entry-content{
		margin-bottom: 30px;
	}
		
	.entry-meta{
		margin-bottom: 5px;
	}
	.blog-excerpt{
		margin-bottom: 40px;
	}

    .ajax-post-loader{
        position: absolute;
    }

	@import "parts/display_list";
	@import "parts/display_grid";
	@import "parts/display_minimal";

	@import "parts/images";
	@import "parts/filters";





	.cat-links::before{
		@include icon("\f03a");	
	}
	.tags-links::before{
		@include icon("\f02c");	
	}
	.updated-on::before{
		@include icon("\f1d8");
	}
	.posted-on::before{
		@include icon("\f044");
	}
	.comments-link::before{
		@include icon("\f086");
	}
	.author::before{
		@include icon("\f007");
	}
	.cat-links, .tags-links, .updated-on, .posted-on, .comments-link, .author{
		display: inline-block;
	}
}
